@import "vendor/font-awesome/less/font-awesome.less";
@fa-font-path: "../font-awesome/fonts";

@import "components/game-board.less";

html, body {
  margin: 20px;

  @media screen and (max-width: 320px) {
    margin: 4px;
  }
}
